.sketch {
    height: 200px !important;
    padding: 5px;
    border: 3px solid #ddd;
}

.sketch-sm {
    height: 100px !important;
    padding: 5px;
    border: 3px solid #ddd;
}

.sketch-lg {
    height: 300px !important;
    padding: 5px;
    border: 5px solid #ddd;
}


.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, 180px);
}

a.thumbnail {
    display: inline-grid;
    margin: 10px;
}

a.thumbnail img {
    padding: 5px;
    border: 5px solid #aaa;
    width: 150px;
    height: 150px;
}